.App{
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
 

.left{
   width: 700px;
   height: 100vh; /* Set the height of the left section */
   overflow-y: auto; /* Enable vertical scrolling */
   margin-bottom: 210px;
  }
}

.right{
   width: 700px;
}
/* Custom scrollbar styles */
.left::-webkit-scrollbar {
   width: 1px; /* Width of the scrollbar */
   /* display: none; */
 }
 
 .left::-webkit-scrollbar-track {
   background: transparent; /* Background of the track */
 }
 
 .left::-webkit-scrollbar-thumb {
   background-color: #ebd8ee; /* Color of the scrollbar thumb */
   border-radius: 10px; /* Rounded corners */
 }
 
 /* Hover effect for scrollbar thumb */
 .left::-webkit-scrollbar-thumb:hover {
   background-color: #edb6f8; /* Darker color on hover */
   display: block;
 }